@model WebApplication1.Models.User

@{
    ViewBag.Title = "CreateProfile";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- Banner -->
<section id="banner1">
    <div class="inner">
        <header>
            <h1>PROFILE</h1>
        </header>
    </div>
</section>

<section id="main" class="wrapper">
    <div class="inner">

        @using (Html.BeginForm("CreateProfile", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()



            <fieldset>
                <div class="box">

                    <div class="row">
                        <div class="6u 12u$(medium)">


                            <h5>
                                Enter your first name:

                                @Html.EditorFor(model => model.FirstName)
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </h5>




                            <h5>
                                Enter your last name:

                                @Html.EditorFor(model => model.LastName)
                                @Html.ValidationMessageFor(model => model.LastName)
                            </h5>




                            <h5>
                                Enter your IC/Passport Number:

                                @Html.EditorFor(model => model.ICNum)
                                @Html.ValidationMessageFor(model => model.ICNum)
                            </h5>



                            <h5>
                                Enter your phone number:

                                @Html.EditorFor(model => model.PhoneNum)
                                @Html.ValidationMessageFor(model => model.PhoneNum)
                            </h5>




                            <h5>
                                Enter your home address:

                                @Html.EditorFor(model => model.Address)
                                @Html.ValidationMessageFor(model => model.Address)
                            </h5>

                        </div>

                        <div class="6u 12u$(medium)">

                            <h5>
                                Please select your profile image:<br /><br />

                                @Html.EditorFor(model => model.profileImg, new { htmlAttributes = new { @type = "file", @onchange = "loadFile(event)", @name = "imageName" } })
                                @Html.ValidationMessageFor(model => model.profileImg, "", new { @class = "text-danger" })

                            </h5>

                            <br />
                            <img id="output" width="200" alt="Your image here" src="#" />
                            <script>
                                var loadFile = function (event) {
                                    var reader = new FileReader();
                                    reader.onload = function () {
                                        var output = document.getElementById('output');
                                        output.src = reader.result;
                                    };
                                    reader.readAsDataURL(event.target.files[0]);
                                };
                            </script>
                        </div>

                    </div>
                </div>


            </fieldset>



            @ViewBag.MessageError

            <div class="form-group">
                <center>
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="button special" />
                    </div>
                </center>
            </div>

        }
    </div>
</section>
