@model WebApplication1.Models.Ticket
@{
    ViewBag.Title = "PurchaseTicket";
}
<!-- Banner -->
<section id="banner1">
    <div class="inner">
        <header>
            <h1>TICKET PURCHASING</h1>
        </header>
    </div>
</section>
<section id="main" class="wrapper">
    <div style="text-align:center;">
        <label style="background-color:lightgray; padding-right:20px; color:white; font-size:24px; width:400px;">ETS SCHEDULE</label>
        <label>Effective from 11/10/2019 until 30/11/2019</label>
        <img src="~/images/ETS_Schedule.jpg" style="width:80%; height:100%; border: 8px solid #FFE83D;" />
    </div>
    <div class="inner">
        @Html.ValidationSummary()
        @using (Html.BeginForm())
        {
            <h2><center>Purchase Form</center></h2>

            <fieldset>
                <div class="box">
                    <div class="row">
                        <div class="6u 12u$(medium)">
                            <h3><center>Personal Information</center></h3>
                            <h5> Enter your name:  @Html.TextBoxFor(x => x.Name, new { @class = "Name" })</h5>
                            <h5> Enter your identification card/passport number: @Html.TextBoxFor(x => x.ICNum, new { @class = "Name" })</h5>
                            <h5> Enter your email address:  @Html.TextBoxFor(x => x.EmailAddress, new { @class = "Name" })</h5>
                        </div>
                        <div class="6u 12u$(medium)">
                            <h3><center>MRT Route Map </center></h3>
                            <center><img src="~/images/mrt--corp-map.jpg" height="320" width="480" /></center>
                        </div>
                    </div>
                </div>
            </fieldset>


            @Html.AntiForgeryToken()



            <fieldset>
                <h3><center>Ticket Details</center></h3>
                <div class="form-group">
                    <div class="col-md-12">
                        <table class="table table-condensed table-hover">
                            <tr>
                                <th>
                                    Current Location
                                </th>
                                <th>
                                    Destination
                                </th>
                                <th>
                                    Type Of Trip
                                </th>
                                <th>
                                    Passenger Category
                                </th>
                                <th>
                                    Number of Tikcet
                                </th>
                            </tr>

                            <td>
                                <div class="12u$">
                                    <div class="select-wrapper">
                                        @Html.DropDownListFor(x => x.FromDestination, new[] {
                                         new SelectListItem() { Text = "[ETS01] Padang Besar", Value = "0"},
                                        new SelectListItem() { Text = "[ETS02] Arau", Value = "1"},
                                        new SelectListItem() { Text = "[ETS03] Anak Bukit", Value = "2"},
                                        new SelectListItem() { Text = "[ETS04] Alor Star", Value = "3"},
                                        new SelectListItem() { Text = "[ETS05] Gurun", Value = "4"},
                                        new SelectListItem() { Text = "[ETS06] Sungai Petani", Value = "5"},
                                        new SelectListItem() { Text = "[ETS07] Tasek Gelugor", Value = "6"},
                                        new SelectListItem() { Text = "[ETS08] Butterworth", Value = "7"},
                                        new SelectListItem() { Text = "[ETS09] Bukit Mertajam", Value = "8"},
                                        new SelectListItem() { Text = "[ETS010] Parit Buntar", Value = "9"},
                                        new SelectListItem() { Text = "[ETS011] Bagan Serai", Value = "10"},
                                       new SelectListItem() { Text = "[ETS012] Taiping", Value = "11"},
                                       new SelectListItem() { Text = "[ETS013] Padang Rengas", Value = "12"},
                                       new SelectListItem() { Text = "[ETS014] Kuala Kangsar", Value = "13"},
                                       new SelectListItem() { Text = "[ETS015] Sungai Siput", Value = "14"},
                                       new SelectListItem() { Text = "[ETS016] Ipoh", Value = "15"},
                                       new SelectListItem() { Text = "[ETS017] Batu Gajah", Value = "16"},
                                       new SelectListItem() { Text = "[ETS018] Kampar", Value = "17"},
                                       new SelectListItem() { Text = "[ETS019] Sungkai", Value = "18"},
                                       new SelectListItem() { Text = "[ETS020] Slim River", Value = "19"},
                                       new SelectListItem() { Text = "[ETS021] Behrang", Value = "20"},
                                       new SelectListItem() { Text = "[ETS022] Tanjung Malim", Value = "21"},
                                       new SelectListItem() { Text = "[ETS023] Kuala Kubu Bharu", Value = "22"},
                                       new SelectListItem() { Text = "[ETS024] Batang Kali", Value = "23"},
                                       new SelectListItem() { Text = "[ETS025] Rawang", Value = "24"},
                                       new SelectListItem() { Text = "[ETS026] Kuala Lumpur", Value = "25"},
                                       new SelectListItem() { Text = "[ETS027] KL Sentral", Value = "26"},
                                       new SelectListItem() { Text = "[ETS028] Kajang", Value = "27"},
                                       new SelectListItem() { Text = "[ETS029] Seremban", Value = "28"},
                                       new SelectListItem() { Text = "[ETS030] Pulau Sebang/Tampin", Value = "29"},
                                       new SelectListItem() { Text = "[ETS031] Gemas", Value = "30"},
                                        }, "-Location -", new { @class = "FromDestination" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="12u$">
                                    <div class="select-wrapper">
                                        @Html.DropDownListFor(x => x.ToDestination, new[] {
                                        new SelectListItem() { Text = "[ETS01] Padang Besar", Value = "0"},
                                        new SelectListItem() { Text = "[ETS02] Arau", Value = "1"},
                                        new SelectListItem() { Text = "[ETS03] Anak Bukit", Value = "2"},
                                        new SelectListItem() { Text = "[ETS04] Alor Star", Value = "3"},
                                        new SelectListItem() { Text = "[ETS05] Gurun", Value = "4"},
                                        new SelectListItem() { Text = "[ETS06] Sungai Petani", Value = "5"},
                                        new SelectListItem() { Text = "[ETS07] Tasek Gelugor", Value = "6"},
                                        new SelectListItem() { Text = "[ETS08] Butterworth", Value = "7"},
                                        new SelectListItem() { Text = "[ETS09] Bukit Mertajam", Value = "8"},
                                        new SelectListItem() { Text = "[ETS010] Parit Buntar", Value = "9"},
                                        new SelectListItem() { Text = "[ETS011] Bagan Serai", Value = "10"},
                                       new SelectListItem() { Text = "[ETS012] Taiping", Value = "11"},
                                       new SelectListItem() { Text = "[ETS013] Padang Rengas", Value = "12"},
                                       new SelectListItem() { Text = "[ETS014] Kuala Kangsar", Value = "13"},
                                       new SelectListItem() { Text = "[ETS015] Sungai Siput", Value = "14"},
                                       new SelectListItem() { Text = "[ETS016] Ipoh", Value = "15"},
                                       new SelectListItem() { Text = "[ETS017] Batu Gajah", Value = "16"},
                                       new SelectListItem() { Text = "[ETS018] Kampar", Value = "17"},
                                       new SelectListItem() { Text = "[ETS019] Sungkai", Value = "18"},
                                       new SelectListItem() { Text = "[ETS020] Slim River", Value = "19"},
                                       new SelectListItem() { Text = "[ETS021] Behrang", Value = "20"},
                                       new SelectListItem() { Text = "[ETS022] Tanjung Malim", Value = "21"},
                                       new SelectListItem() { Text = "[ETS023] Kuala Kubu Bharu", Value = "22"},
                                       new SelectListItem() { Text = "[ETS024] Batang Kali", Value = "23"},
                                       new SelectListItem() { Text = "[ETS025] Rawang", Value = "24"},
                                       new SelectListItem() { Text = "[ETS026] Kuala Lumpur", Value = "25"},
                                       new SelectListItem() { Text = "[ETS027] KL Sentral", Value = "26"},
                                       new SelectListItem() { Text = "[ETS028] Kajang", Value = "27"},
                                       new SelectListItem() { Text = "[ETS029] Seremban", Value = "28"},
                                       new SelectListItem() { Text = "[ETS030] Pulau Sebang/Tampin", Value = "29"},
                                       new SelectListItem() { Text = "[ETS031] Gemas", Value = "30"},
                                       }, "-Destination-", new { @class = "ToDestination" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="12u$">
                                    <div class="select-wrapper">
                                        @Html.DropDownListFor(x => x.NumOfWay, new[] {
                                        new SelectListItem(){Text="One-Way Trip", Value= "1"},
                                        new SelectListItem(){Text="Return Trip", Value = "2"}
                                        }, "-Trip Type-", new { @class = "NumOfWay" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="12u$">
                                    <div class="select-wrapper">
                                        @Html.DropDownListFor(x => x.TypeOfUser, new[] {
                                    new SelectListItem(){Text="Non-privileged", Value= "1"},
                                    new SelectListItem(){Text="Senior citizen", Value = "2"},
                                    new SelectListItem(){Text="Student", Value = "3"},
                                    new SelectListItem(){Text="Disabled", Value = "4"}
                                    }, "-Category-", new { @class = "TypeOfUser" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                @Html.EditorFor(x => x.NumOfTicket, new { @class = "NumOfTicket" })
                            </td>
                        </table>
                        <br />
                    </div>
                </div>
            </fieldset>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 text-center">
                    <p>
                        <center>
                            <input type="submit" value="Submit" class="button special" />
                            <input type="reset" value="Reset" class="button special" />
                        </center>
                    </p>
                </div>
            </div>

        }
    </div>
</section>

