@model WebApplication1.Models.UserAccount

@{
    /**/

    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_homeLayout.cshtml";
}

<!-- Banner -->
<section id="banner1">
    <div class="inner">
        <header>
            <h1>LOGIN PAGE</h1>
        </header>
    </div>
</section>

<section id="main" class="wrapper">
    <div class="inner">

        @using (Html.BeginForm())
        {
            <h2><center>Login Page<center></h2>

            <fieldset>
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="box">
                    <div class="col-md-offset-2 col-md-10 text-center">
                        <center>
                            <h3>Please enter your login details </h3>
                            <h5 class="input-group">
                                Enter your email address:  @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control", @placeholder = "Email Address", @style = "width:500px;" })
                                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger error" })
                            </h5>
                            <h5 class="input-group">
                                Enter your password: @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Password", @style = "width:500px;" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger error" })
                            </h5>
                        </center>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 text-center">
                            <p>
                                <center>
                                    <input type="submit" value="Submit" class="button special" />
                                    <input type="reset" value="Reset" class="button special" />
                                </center>

                            </p>
                            
                            <center><p style="color: darkred">@ViewBag.Text</p></center>

                            <center><a href="@Url.Action("Register", "Home")">Not yet have account? Register by clicking here</a></center>
                            
                        </div>
                    </div>
                </div>
            </fieldset>

            

        }
    </div>
</section>

